/*Color Variables*/
/*Used variables for easy styling*/
:root {
    --orange: #ffa600;
    --grey: #f3f3f3;
    --white: #fff;
    --black: #000000;
}

/*Main page setup*/
body {
    font-family: Arial, Helvetica, sans-serif, serif;
    background-color: var(--orange);
    height: 100vh;
}

/*Stopwatch container styling*/
/*Box shadow - https: //getcssscan.com/css-box-shadow-examples*/
.container {
    width: 800px;
    margin: 200px auto;
    padding-bottom: 50px;
    color: var(--white);
    text-align: center;
    border: solid var(--white) 4px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

/*Headings styling*/
/*Text shadow - https: //www.codesdope.com/blog/article/25-creative-css3-text-shadow-effects-you-cant-miss/*/
h1, 
h2, 
h3 {
    font-weight: 100;
    font-size: 2.5em;
    text-transform: uppercase;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
            0px -4px 10px rgba(255, 255, 255, 0.3);
}

/*Stopwatch styleing*/
/*Text shadow - https: //www.codesdope.com/blog/article/25-creative-css3-text-shadow-effects-you-cant-miss/*/
#seconds,
#tens {
    font-size: 2em;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
            0px -4px 10px rgba(255, 255, 255, 0.3);
}

/*box-shadow - https: //htmlcssfreebies.com/css-box-shadow-examples/*/
button {
    font-size: 1.25em;
    color: var(--white);
    background-color: var(--orange);
    border: solid var(--white);
    border-radius: 10px;
    width: 180px;
    padding: 20px 50px;
    cursor: alias;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;;
}

button:hover {
    background-color: var(--white);
    color: var(--black);
}

#btn-stop {
    margin: 0 20px;
}